<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://android.com"
    package="app.ecochat.beta">

    <!-- 📡 ያለ ዳታ በብሉቱዝ ራዳር ለመፈለግና ለመገናኘት የሚያስፈልጉ መብቶች -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="EcoChat"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.action.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
